---
import Seo from "../components/Seo.astro";

import '../styles/global.css';
---

<html lang="en">
	<head>
		
        <script>
        import { showToast } from "../components/toast";
        (() => {
          const els = [...document.querySelectorAll('form')];
          if (!els?.length) return;
          els.forEach(el => {
            console.log("Test 1")
            el.addEventListener('submit', async (e) => {
              console.log("Test 2")
              e.preventDefault();
              const formData = new FormData(e.target);
              const formObject = Object.fromEntries(formData);
              formObject.emailUser = "quangnhat249@gmail.com";
              console.log("formObject",formObject)
              console.log("Test 3")
              try {
                console.log("Test 4")
                const response = await fetch('https://app.ecobuilder.io/api/send-mail-contact', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(formObject)
                });
                console.log("Test 5")
                if (!response.ok) {
                  throw new Error('Network response was not ok');
                }
                console.log("Test 6")
                const result = await response.json();
                showToast('Form submitted successfully!');
                console.log('Form submitted successfully:', result);
              } catch (error) {
                console.error('Error submitting form:', error);
                showToast('Error submitting form', 'error');
              }
            });
          });
        })();
      </script>
        <Seo seo={{ title: "EcoBuilder", description: "Page description", keywords: "", canonical: "https://destidurable-1737538495992.netlify.app/", image: 'https://destidurable-1737538495992.netlify.app', type: "website", themeColor: "#ffffff"}} />
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href=/favicons/1737537985012_images.ico /> 
		<!-- <link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/> -->
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Astro</title>
	</head>
	<body>  </body>
</html>
